{% extends 'flatpages/default.html' %}

{% load custom_tags %}

{% block title %}
BulletinBoard
{% endblock title %}

{% block content %}
    <h1>Все объявления</h1>

    <form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Найти">
    </form>

    <h5>Всего объявлений: {{ posts|length }}</h5>

    <hr>
    {% if posts %}
        <table>
            <tr>
                <td><b>Заголовок</b></td>
                <td><b>Дата публикации</b></td>
                <td><b>Контент</b></td>
                <td><b>Категория</b></td>
            </tr>
            {% for post in posts %}
            <tr>
                <td>{{ post.headline }}</td>
                <td>{{ post.date_post|date:'d M Y' }}</td>
                <td>{{ post.text_post|truncatewords:20 }}</td>
                <td>{{ post.category_post }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Объявлений нет!</h2>
    {% endif %}

    {# Добавляем пагинацию на страницу #}

    {# Информация о предыдущих страницах #}
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {# Информация о текущей странице #}
    {{ page_obj.number }}

    {# Информация о следующих страницах #}
    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}