{% extends 'flatpages/default.html' %}

{% load custom_tags %}

{% block title %}
BulletinBoard
{% endblock title %}

{% block content %}
    <h1 align="center">Все объявления</h1>

    <p align="center">Количество всех объявлений: {{ posts|length }}</p>

    <hr>
    {% if posts %}
        <table>
            {% for post in posts %}
            <tr>
                <h3><b>{{ post.headline|truncatewords:15 }}</b></h3>
                <b>Дата:</b> {{ post.date_post|date:'d.m.Y' }}
                <b>Автор:</b> {{ post.author_post }}
                <b>Категория:</b> {{ post.category_post }}
                {{ post.text_post|safe|truncatewords:20 }}
                <style>
                /* Стили кнопки */
                .main_button{display: inline-block;cursor: pointer; font-size:15px;text-decoration:none;padding:5px 10px; color:#000000;background:#FFFAFA;border-radius:5px;border:1px solid #000000;}
                .main_button:hover{background:#4d4d4d;color:#ffffff;border:1px solid #000000;transition: all 0.2s ease;}
                </style>
                <div align="center"><a class="main_button" href="{{ post.get_absolute_url }}" title="Прочитать">Прочитать</a></div>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Объявлений нет!</h2>
    {% endif %}

    {# Добавляем пагинацию на страницу #}

    {# Информация о предыдущих страницах #}
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {# Информация о текущей странице #}
    {{ page_obj.number }}

    {# Информация о следующих страницах #}
    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}