<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Доска объявлений</title>

        {% load static %}
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-light static-top" style="background-color: dimgrey">
            <div class="container">
                <a class="navbar-brand" href="" style="color:white">ДОСКА ОБЪЯВЛЕНИЙ</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="" style="color:white">Объявления</a>
                            </li>
                            {% if request.user.is_active %}
                                <li class="nav-item"><
                                    <a class="nav-link" href="/create/" style="color:white">Создать объявление</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/accounts/logout/" style="color:white">Выйти</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="/accounts/login/" style="color:white">Войти/Зарегистрироваться</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>

            </div>
        </nav>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    {% block content %}
                    {{ flatpage.content }}
                    {% endblock content %}
                </div>
            </div>
        </div>

    </body>
</html>
